<div class="panel-group" id="groupsAccordion" role="tablist"
	aria-multiselectable="true">
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="myGroupsHead">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#groupsAccordion"
					href="#myGroupsBody" aria-expanded="true"
					aria-controls="myGroupsBody"><i class="fa fa-group"></i>
					{{'cont_label_mygroups' | translate}}</a><span
					class="pull-right cursor-pointer" ng-click="editGroup(true)"
					ng-hide="groupEditable">{{'core_action_update'|translate}}</span> <span
					class="pull-right cursor-pointer" ng-click="editGroup(false)"
					ng-hide="!groupEditable">{{'core_action_done'|translate}}</span>
			</h4>
		</div>
		<div id="myGroupsBody" class="panel-collapse collapse in"
			role="tabpanel" aria-labelledby="myGroupsHead">
			<div class="panel-body">
				<a class="list-group-item cursor-pointer"
					ng-click="groupClick(group,$event)"
					ng-repeat="group in groups | filter : isCreatedBySelf"> <i
					class="fa fa-remove fa-2x"
					ng-hide="!groupEditable || group.key == DEFAULT_GROUP_ID">&nbsp;</i><i
					ng-class="{'fa fa-share-alt' : group.isShared, 'fa fa-group' : group.key != TRASH_GROUP_ID || group.key == DEFAULT_GROUP_ID, 'fa fa-recycle':group.key == TRASH_GROUP_ID}"
					ng-show="!groupEditable || (groupEditable && group.key == DEFAULT_GROUP_ID)">&nbsp;</i><span>{{group.groupName}}</span><span
					class="badge"
					ng-show="!groupEditable || (groupEditable && (group.key == DEFAULT_GROUP_ID || group.key == TRASH_GROUP_ID)) ">{{group.contactcount}}</span>
					<i class="fa fa-edit fa-2x pull-right"
					ng-hide="!groupEditable || group.key == TRASH_GROUP_ID || group.key == DEFAULT_GROUP_ID">&nbsp;</i>
				</a>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="sharedGroupsHead">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#groupsAccordion"
					href="#sharedGroupsBody" aria-expanded="true"
					aria-controls="sharedGroupsBody"><i class="fa fa-group"></i>
					{{'cont_label_sharedgroups' | translate}}</a>
			</h4>
		</div>
		<div id="sharedGroupsBody" class="panel-collapse collapse in"
			role="tabpanel" aria-labelledby="sharedGroupsHead">
			<div class="panel-body">
				<a class="list-group-item cursor-pointer"
					ng-click="groupClick(group,$event)"
					ng-repeat="group in groups | filter : isCreatedByOther"> <i
					class="fa fa-group">&nbsp;</i><span>{{group.groupName}}</span><span
					class="ismall">-{{group.creatorDisplayName}}</span><span
					class="ismall"></span><span class="badge">{{group.contactcount}}</span>
				</a>
			</div>
		</div>
	</div>
</div>