<div>
	<button class="btn btn-primary col-md-12 col-sm-12 col-lg-12 col-xs-12"
		type="button" ng-click="updateGroup()">
		<i class="fa fa-plus" title="{{'cont_action_addgroup' | translate}}">&nbsp;</i><span>{{'cont_action_addgroup'
			| translate}}</span>
	</button>
</div>

<div class="modal fade contactgroupedit" data-backdrop="static"
	data-keyboard="false" role="dialog" aria-hidden="true" id="groupDialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">
					<span ng-if="!updatedGroup.key">{{'core_action_create'|
						translate}}</span><span ng-if="updatedGroup.key">{{'core_action_update'|
						translate}}</span>{{'cont_label_group' | translate}}
				</h4>
			</div>
			<div class="modal-body">
				<form name="groupForm" role="form">
					<div class="form-group has-feedback">
						<div class="input-group">
							<label class="input-group-addon">{{'cont_label_groupname'
								| translate}}</label> <input type="text" class="form-control"
								name="groupName" ng-model="updatedGroup.groupName" required
								placeholder="{{'core_label_required' | translate}}" />
						</div>
						<div class="form-control-feedback"
							ng-show="groupForm.groupName.$dirty && groupForm.groupName.$error.required">
							<p translate="core_error_required"
								translate-value-label="{{'cont_label_groupname'|translate}}"></p>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<label class="input-group-addon">{{'cont_label_isshared'
								| translate}}<i class="fa fa-question-circle cursor-pointer"
								title="{{'cont_label_sharetip' | translate}}" tooltip></i>
							</label>
							<buttons-radio class="btn-group" data-toggle="buttons-radio"
								model='updatedGroup.isShared' suffix="default" idProperty="id"
								nameProperty="name" options='yesNoOptions'></buttons-radio>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{'core_action_close'
					| translate}}</button>
				<button type="button" class="btn btn-primary" ng-click="saveGroup()">{{'core_action_save'
					| translate}}</button>
			</div>
		</div>
	</div>
</div>

