<div class="wscol-body contactedit">
	<div>
		<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12"
			id="contactEditorCol1">
			<div class="contactname-fixed">
				<fieldset class="contactname-fieldset">
					<div class="input-group">
						<label class="input-group-addon">{{'cont_label_contactname'
							| translate}}</label> <input type="text" class="form-control"
							name="contactName" id="contactNameTxt"
							ng-model="activeContact.contactName"
							ng-readonly="!contactEditable" ng-keyup="autoSaveContact($event)">
					</div>
					<div class="input-group input-date input-append date"
						format="{{loginUser.dateFormat}}"
						ng-model="activeContact.birthday" bootstrap-datetimepicker=""
						picktime="false"
						ng-hide="activeContact.birthday == null && !contactEditable"
						ng-change="autoSaveContact($event)">
						<label class="input-group-addon">{{'cont_label_birthday' |
							translate}}</label> <input type="text" class="form-control"
							name="birthday" ng-readonly="!contactEditable"
							ng-disabled="!contactEditable"> <label
							class="input-group-addon add-on" ng-hide="!contactEditable">
							<i data-date-icon="glyphicon glyphicon-calendar"> </i>
						</label>
					</div>
					<div class="input-group"
						ng-hide="activeContact.bindUserAccount == null && !contactEditable">
						<label class="input-group-addon">{{'cont_label_linkuserid'
							| translate}}</label> <input type="text" class="form-control"
							name="bindUserAccount" ng-model="activeContact.bindUserAccount"
							ng-readonly="!contactEditable" ng-keyup="autoSaveContact($event)">
					</div>
				</fieldset>
			</div>
			<div>
				<fieldset
					ng-show="activeContact.key == null || activeContact.creatorKey == loginUser.userKey">
					<legend>{{'cont_label_contactgroups' | translate}}</legend>
					<div>
						<div class="pull-left" ng-repeat="group in groups">
							<label class="checkbox-inline"
								ng-if="group.key != DEFAULT_GROUP_ID && group.key != TRASH_GROUP_ID">
								<input type="checkbox" name="groupKeys" value="{{group.key}}"
								ng-checked="activeContact.groupKeys.indexOf(group.key) > -1"
								ng-disabled="!contactEditable"
								ng-click="autoSaveContact($event)"> {{group.groupName}}
							</label>
						</div>
					</div>
				</fieldset>
			</div>
			<div>
				<fieldset>
					<legend>{{'cont_label_mobilephonemime' | translate}}</legend>
					<div class="input-group"
						ng-hide="activeContact.mobilePrivate == null && !contactEditable">
						<label class="input-group-addon">{{'cont_label_mobileprivate'
							| translate}}</label> <input type="text" class="form-control"
							name="mobilePrivate" ng-model="activeContact.mobilePrivate"
							ng-readonly="!contactEditable" ng-keyup="autoSaveContact($event)">
					</div>
					<div class="input-group"
						ng-hide="activeContact.mobileBusiness == null && !contactEditable">
						<label class="input-group-addon">{{'cont_label_mobilebusiness'
							| translate}}</label> <input type="text" class="form-control"
							name="mobileBusiness" ng-model="activeContact.mobileBusiness"
							ng-readonly="!contactEditable" ng-keyup="autoSaveContact($event)">
					</div>
					<div class="input-group"
						ng-hide="activeContact.phoneHome == null && !contactEditable">
						<label class="input-group-addon">{{'cont_label_phonehome'
							| translate}}</label> <input type="text" class="form-control"
							name="phoneHome" ng-model="activeContact.phoneHome"
							ng-readonly="!contactEditable" ng-keyup="autoSaveContact($event)">
					</div>
					<div class="input-group"
						ng-hide="cont_label_phoneoffice == null && !contactEditable">
						<label class="input-group-addon">{{'cont_label_phoneoffice'
							| translate}}</label> <input type="text" class="form-control"
							name="phoneOffice" ng-model="activeContact.phoneOffice"
							ng-readonly="!contactEditable" ng-keyup="autoSaveContact($event)">
					</div>
				</fieldset>
			</div>
			<div>
				<fieldset>
					<legend>{{'cont_label_emailmime' | translate}}</legend>
					<div class="input-group"
						ng-hide="activeContact.emailHome == null && !contactEditable">
						<label class="input-group-addon">{{'cont_label_emailhome'
							| translate}}</label> <input type="text" class="form-control"
							name="emailHome" ng-model="activeContact.emailHome"
							ng-readonly="!contactEditable" ng-keyup="autoSaveContact($event)">
					</div>
					<div class="input-group"
						ng-hide="activeContact.emailWork == null && !contactEditable">
						<label class="input-group-addon">{{'cont_label_emailwork'
							| translate}}</label> <input type="text" class="form-control"
							name="emailWork" ng-model="activeContact.emailWork"
							ng-readonly="!contactEditable" ng-keyup="autoSaveContact($event)">
					</div>
				</fieldset>
			</div>
			<div>
				<fieldset>
					<legend>{{'cont_label_companymime' | translate}}</legend>
					<div class="input-group"
						ng-hide="activeContact.company == null && !contactEditable">
						<label class="input-group-addon">{{'cont_label_company' |
							translate}}</label> <input type="text" class="form-control"
							name="company" ng-model="activeContact.company"
							ng-readonly="!contactEditable" ng-keyup="autoSaveContact($event)">
					</div>
					<div class="input-group"
						ng-hide="activeContact.department == null && !contactEditable">
						<label class="input-group-addon">{{'cont_label_department'
							| translate}}</label> <input type="text" class="form-control"
							name="department" ng-model="activeContact.department"
							ng-readonly="!contactEditable" ng-keyup="autoSaveContact($event)">
					</div>
					<div class="input-group"
						ng-hide="activeContact.position == null && !contactEditable">
						<label class="input-group-addon">{{'cont_label_position' |
							translate}}</label> <input type="text" class="form-control"
							name="position" ng-model="activeContact.position"
							ng-readonly="!contactEditable" ng-keyup="autoSaveContact($event)">
					</div>
					<div class="input-group"
						ng-hide="activeContact.faxOffice == null && !contactEditable">
						<label class="input-group-addon">{{'cont_label_faxoffice'
							| translate}}</label> <input type="text" class="form-control"
							name="faxOffice" ng-model="activeContact.faxOffice"
							ng-readonly="!contactEditable" ng-keyup="autoSaveContact($event)">
					</div>
					<div class="input-group"
						ng-hide="activeContact.companyAddress == null && !contactEditable">
						<label class="input-group-addon">{{'cont_label_companyaddress'
							| translate}}</label> <input type="text" class="form-control"
							name="companyAddress" ng-model="activeContact.companyAddress"
							ng-readonly="!contactEditable" ng-keyup="autoSaveContact($event)">
					</div>
					<div class="input-group"
						ng-hide="activeContact.companyWebsite == null && !contactEditable">
						<label class="input-group-addon">{{'cont_label_companywebsite'
							| translate}}</label> <input type="text" class="form-control"
							name="companyWebsite" ng-model="activeContact.companyWebsite"
							ng-readonly="!contactEditable" ng-keyup="autoSaveContact($event)">
					</div>
				</fieldset>
			</div>
			<div>
				<fieldset>
					<legend>{{'cont_label_imsomime' | translate}}</legend>
					<div class="input-group"
						ng-hide="activeContact.imQQ == null && !contactEditable">
						<label class="input-group-addon">{{'cont_label_imqq' |
							translate}}</label> <input type="text" class="form-control" name="imQQ"
							ng-model="activeContact.imQQ" ng-readonly="!contactEditable"
							ng-keyup="autoSaveContact($event)">
					</div>
					<div class="input-group"
						ng-hide="activeContact.imSkype == null && !contactEditable">
						<label class="input-group-addon">{{'cont_label_imskype' |
							translate}}</label> <input type="text" class="form-control"
							name="imSkype" ng-model="activeContact.imSkype"
							ng-readonly="!contactEditable" ng-keyup="autoSaveContact($event)">
					</div>
					<div class="input-group"
						ng-hide="activeContact.soWeixin == null && !contactEditable">
						<label class="input-group-addon">{{'cont_label_soweixin' |
							translate}}</label> <input type="text" class="form-control"
							name="soWeixin" ng-model="activeContact.soWeixin"
							ng-readonly="!contactEditable" ng-keyup="autoSaveContact($event)">
					</div>
					<div class="input-group"
						ng-hide="activeContact.soWeibo == null && !contactEditable">
						<label class="input-group-addon">{{'cont_label_soweibo' |
							translate}}</label> <input type="text" class="form-control"
							name="soWeibo" ng-model="activeContact.soWeibo"
							ng-readonly="!contactEditable" ng-keyup="autoSaveContact($event)">
					</div>
				</fieldset>
			</div>
			<div ng-hide="activeContact.remark == null && !contactEditable">
				<fieldset>
					<legend>{{'cont_label_remark' | translate}}</legend>
					<div>
						<div class="input-group">
							<textarea class="form-control" id="remarkArea" name="remark"
								ng-model="activeContact.remark" ng-readonly="!contactEditable"
								ng-keyup="autoSaveContact($event)"></textarea>
							<span class="help-block"></span>
						</div>
						<div></div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
	<div
		ng-class="{hide : activeTask.key == '' || activeContact.creatorKey != loginUser.userKey}"
		class="contactleaves">
		<div role="tabpanel">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a
					href="#contactLeavesTab" aria-controls="contactLeavesTab"
					role="tab" data-toggle="tab">{{'cont_label_contactleave' |
						translate}}</a></li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="contactLeavesTab">

					<table class="table table-hover">
						<thead class="hidden-xs hidden-sm">
							<tr>
								<th>{{'core_label_type'|translate}} -
									{{'core_label_days'|translate}} -
									{{'cont_label_leaveperiod'|translate}}</th>
								<th class="contactleaveaction">{{'core_action_action' |
									translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr class="cursor-pointer"
								ng-repeat="contactLeave in activeContact.contactLeaves">
								<td><p class="contactleaveshead">{{contactLeave.leaveTypeCode
										| translate}} -
										{{contactLeave.leaveDays}}{{'core_label_day'|translate}} -
										{{contactLeave.leaveStartdate}} ~
										{{contactLeave.leaveFinishdate}}</p>
									<p class="list-group-item-text"
										ng-bind-html="contactLeave.leaveComment"
										ng-show="contactLeave.leaveComment != null"></p></td>
								<td class="contactleaveaction"><i
									class="fa fa-edit fa-2x icon-btn"
									title="{{'core_action_update' | translate}}"
									ng-click="updateContactLeave(contactLeave)"></i> <i
									class="fa fa-remove fa-2x icon-btn"
									title="{{'core_action_delete' | translate}}"
									ng-click="deleteContactLeave(contactLeave)"></i></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div ng-show="activeContact.contactLeaves.length <= 0">{{'core_label_norecords'
					| translate}}</div>
			</div>
		</div>
	</div>
</div>
</div>