<div class="pull-left">
	<h4>
		<i class="fa fa-group">&nbsp;</i><span>{{contactSearchLabel}}</span>
	</h4>
</div>
<div class="icon-btngroup pull-right">
	<i class="fa fa-refresh fa-2x icon-btn" title="{{searchTitle}}"
		ng-click="fetchContacts()"></i> <i class="fa fa-search fa-2x icon-btn"
		title="{{searchTitle}}" ng-click="searchContact()"></i> <i
		class="fa fa-plus fa-2x icon-btn"
		title="{{'cont_action_addcontact' | translate}}"
		ng-click="newContact()"></i>
</div>

<div class="modal fade contactsearch" tabindex="-1" role="dialog"
	aria-hidden="true" id="contactSearchDialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">
					<span><i class="fa fa-search">&nbsp;</i>{{'cont_label_contactsearch'|
						translate}}</span>
				</h4>
			</div>
			<div class="modal-body">
				<input type="text"
					placeholder="{{'core_label_keyword' | translate}}..."
					bootstrap-tagsinput="{maxTags:5,maxChars: 20}"
					ng-model="contactSearchKeywords" submit="submitContactSearch(true)"
					typeahead="{minLength : 1}"
					tasource="getContactSearchKeywordHints()">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{'core_action_cancel'
					| translate}}</button>
				<button type="button" class="btn btn-primary"
					ng-click="submitContactSearch(true)">{{'core_action_ok' |
					translate}}</button>
			</div>
		</div>
	</div>
</div>


