.notelist-body {
	
}

.notelist-body .notetime {
	margin-top: 2px;
}

.notebookedit {
	
}

.notebookedit .input-group-addon {
	width: 125px;
}

.noteedit .note-editor-row {
	position: relative;
	display: table;
	border-collapse: separate;
	width: 100%;
	padding: 0px;
	margin-bottom: 5px;
}