<div class="post-status pull-left" id="noteSaveStatusDiv"
	ds-status="d?ha=savenote,d?ha=deletenote" ></div>
<div class="pull-right icon-btngroup cursor-pointer">
	<i class="fa fa-edit fa-2x icon-btn" ng-click="editNote(true)"
		ng-hide="activeNote.isTrashed || noteEditable"
		title="{{'core_action_update' |
		translate}}">&nbsp;</i> <i
		class="fa fa-save fa-2x icon-btn" ng-click="saveNote()"
		ng-hide="activeNote.isTrashed || !noteEditable"
		title="{{'core_action_save' |
		translate}}">&nbsp;</i> <i
		class="fa fa-undo fa-2x icon-btn" ng-click="cancelSaveNote()"
		ng-hide="activeTask.isTrashed || !noteEditable"
		title="{{'core_action_cancel' |
		translate}}">&nbsp;</i> <i
		class="fa fa-remove fa-2x icon-btn" ng-click="deleteNote()"
		ng-hide="activeNote.key == '' || activeNote.isTrashed || noteEditable"
		title="{{'core_action_delete' |
		translate}}">&nbsp;</i>
	<button type="button" class="btn btn-primary "
		ng-click="recoverNote(notebooks[0])" ng-hide="!activeNote.isTrashed">
		<span class="fa fa-book">&nbsp;</span>{{'note_action_recovernote' |
		translate}}
	</button>
	<button type="button" class="btn btn-primary"
		ng-click="permanentDeleteNote()" ng-hide="!activeNote.isTrashed">
		<span class="fa fa-remove">&nbsp;</span>{{'note_action_permanentdelete'
		| translate}}
	</button>
</div>
