
<div class="wscol-body notelist-body"
	infinitescroll="fetchNotes(notePager.page+1, true)">
	<div class="list-group">
		<a class="list-group-item cursor-pointer"
			ng-class="{active: note.key==activeNote.key}"
			ng-click="updateNote(note,false)"
			ng-repeat="note in notePager.records">
			<h4 class="list-group-item-heading">{{note.noteSubject |
				usubstr:32}}</h4>
			<p class="notetime ismall">
				{{'core_label_createdtime' |
				translate}}:{{note.createdTime}}&nbsp;{{'core_label_modifiedtime' |
				translate}}:{{note.modifiedTime}}&nbsp;<span
					ng-show="isCreatedByOther(note)">{{note.creatorDisplayName}}</span>&nbsp;
			</p>
			<p class="list-group-item-text"
				ng-bind="note.noteContent | html2text | usubstr:96 | uinsert : 32 : ' '">
			</p>
		</a>
	</div>
	<div class="post-status pull-left" ds-status="d?ha=notelist"
		zerokey="count"></div>
	<div class="post-status pull-left" ds-status="d?ha=notebooklist"
		showsuccess="false"></div>
</div>