<div class="wscol-body user-login">
	<header class="page-header">
		<h3>
			<span class="glyphicon glyphicon-lock"></span>
			{{'core_action_login'|translate}}
		</h3>
		<div class="post-status pull-right"></div>
	</header>
	<form name="loginForm" class="form-horizontal" role="form">
		<div class="form-group has-feedback">
			<label class="col-md-2">{{'core_label_accountname' |
				translate}}</label>
			<div class="col-md-6">
				<input type="text" class="form-control" name="loginName"
					ng-model="loginName" required />
				<div class="form-control-feedback"
					ng-show="loginForm.loginName.$dirty && loginForm.loginName.$error.required">
					<p translate="core_error_required"
						translate-value-label="{{'core_label_accountname'|translate}}/ {{'core_label_useremail' | translate}}"></p>
				</div>
			</div>
		</div>
		<div class="form-group has-feedback">
			<label class="col-md-2">{{'core_label_userpassword' |
				translate}}</label>
			<div class="col-md-6">
				<input type="password" class="form-control" name="loginPassword"
					ng-model="loginPassword" required />
				<div class="form-control-feedback"
					ng-show="loginForm.loginPassword.$dirty && loginForm.loginPassword.$error.required">
					<p translate="core_error_required"
						translate-value-label="{{'core_label_userpassword'|translate}}"></p>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2"></label>
			<div class="col-md-4">
				<button type="submit" class="btn btn-primary pull-left" ng-click="login()"
					ng-disabled="loginForm.$invalid || !loginForm.$dirty">{{'core_action_login'
					| translate}}</button>
				<div class="form-group usersignupbar">&nbsp;&nbsp;&nbsp;&nbsp;
					<span class="cursor-pointer" ng-click="signupClick()">{{'core_action_signup'|translate}}
					</span></a>|<a href="#"> <span>{{'core_action_forgotpwd'|translate}}</span></a>
				</div>
			</div>
		</div>
	</form>
	<div>{{'core_label_testingaccpwd' | translate}} :　test/test </div>
	<div class="copyright">Copyright © 2014-2015
		www.suishouguan.com v{{G_VERSION}}</div>
</div>

<div class="modal fade usersignup" tabindex="-1" role="dialog"
	aria-hidden="true" id="signupDialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">
					<span>{{'core_action_signup'| translate}}</span>
				</h4>
			</div>
			<div class="modal-body">
				<form name="signupForm">
					<div class="form-group has-feedback">
						<div class="input-group">
							<label class="input-group-addon">{{'core_label_accountname'
								| translate}}</label> <input type="text" class="form-control"
								name="accountName" ng-model="accountName" required
								placeholder="{{'core_label_required' | translate}}" />
						</div>
						<div class="form-control-feedback"
							ng-show="signupForm.accountName.$dirty && signupForm.accountName.$error.required">
							<p translate="core_error_required"
								translate-value-label="{{'core_label_accountname'|translate}}"></p>
						</div>
					</div>
					<div class="form-group has-feedback">
						<div class="input-group">
							<label class="input-group-addon">{{'core_label_userpassword'
								| translate}}</label> <input type="password" class="form-control"
								name="password" ng-model="password" required
								placeholder="{{'core_label_required' | translate}}" />
						</div>
						<div class="form-control-feedback"
							ng-show="signupForm.password.$dirty && signupForm.password.$error.required">
							<p translate="core_error_required"
								translate-value-label="{{'core_label_userpassword'|translate}}"></p>
						</div>
					</div>
					<div class="form-group has-feedback">
						<div class="input-group">
							<label class="input-group-addon">{{'core_label_useremail'
								| translate}}</label> <input type="text" class="form-control"
								name="userEmail" ng-model="userEmail" required
								placeholder="{{'core_label_optional' | translate}}" />
						</div>
					</div>
					<div class="form-group has-feedback">
						<div class="input-group">
							<label class="input-group-addon">{{'core_label_username'
								| translate}}</label> <input type="text" class="form-control"
								name="userName" ng-model="userName" required
								placeholder="{{'core_label_optional' | translate}}" />
						</div>
					</div>
					<div class="form-group has-feedback">
						<span><input type="checkbox" name="agreeChk" id="agreeChk"
							checked />{{'core_label_agree'|translate}}</span> <a href="sla.html"
							target="_blank"><span>{{'core_label_sla'|translate}}</span></a><span>{{'core_label_and'|translate}}</span>
						<a href="privacy.html" target="_blank"><span>{{'core_label_privacypolicy'|translate}}</span></a>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{'core_action_cancel'
					| translate}}</button>
				<button type="button" class="btn btn-primary"
					ng-disabled="!signupForm.accountName.$dirty || !signupForm.password.$dirty"
					ng-click="signup()">{{'core_action_ok' | translate}}</button>
			</div>
		</div>
	</div>
</div>


