<div ng-show="activeAction.key == 'setversion'">
	<div class="post-status pull-left" id="versionSaveStatusDiv"
		ds-status="d?ha=savegroupversion,d?ha=deletegroupversion"
		></div>

	<div class="pull-right icon-btngroup">
		<i class="fa fa-edit fa-2x icon-btn"
			title="{{'core_action_update' |
		translate}}"
			ng-click="editVersion(true)" ng-hide="versionEditable">&nbsp;</i> <i
			class="fa fa-save fa-2x icon-btn" ng-click="saveVersion()"
			ng-hide="!versionEditable"
			title="{{'core_action_save' |
		translate}}">&nbsp;</i> <i
			class="fa fa-undo fa-2x icon-btn" ng-click="cancelSaveVersion()"
			ng-hide="!versionEditable"
			title="{{'core_action_cancel' |
		translate}}">&nbsp;</i> <i
			class="fa fa-remove fa-2x icon-btn"
			title="{{'core_action_delete' |
		translate}}"
			ng-click="deleteVersion()"
			ng-hide="activeVersion.key == '' || versionEditable">&nbsp;</i>
	</div>
</div>

<div ng-show="activeAction.key == 'setcomponent'">
	<div class="post-status pull-left" id="componentSaveStatusDiv"
		ds-status="d?ha=savegroupcomponent,d?ha=deletegroupcomponent"
		></div>
	<div class="pull-right icon-btngroup">
		<i class="fa fa-edit fa-2x icon-btn"
			title="{{'core_action_update' |
		translate}}"
			ng-click="editComponent(true)" ng-hide="Exception">&nbsp;</i>
		<i class="fa fa-save fa-2x icon-btn" ng-click="saveComponent()"
			ng-hide="!componentEditable"
			title="{{'core_action_save' |
		translate}}">&nbsp;</i> <i
			class="fa fa-undo fa-2x icon-btn" ng-click="cancelSaveComponent()"
			ng-hide="!componentEditable"
			title="{{'core_action_cancel' |
		translate}}">&nbsp;</i> <i
			class="fa fa-remove fa-2x icon-btn"
			title="{{'core_action_delete' |
		translate}}"
			ng-click="deleteComponent()"
			ng-hide="activeComponent.key == '' || componentEditable">&nbsp;</i>
	</div>
</div>

<div ng-show="activeAction.key == 'setcalendar'">
	<div class="post-status pull-left" id="calendarSaveStatusDiv"
		ds-status="d?ha=savegroupexception,d?ha=deletegroupexception"
		></div>
	<div class="pull-right icon-btngroup">
		<i class="fa fa-edit fa-2x icon-btn"
			title="{{'core_action_update' |
		translate}}"
			ng-click="editException(true)" ng-hide="exceptionEditable">&nbsp;</i>
		<i class="fa fa-save fa-2x icon-btn" ng-click="saveException()"
			ng-hide="!exceptionEditable"
			title="{{'core_action_save' |
		translate}}">&nbsp;</i> <i
			class="fa fa-undo fa-2x icon-btn" ng-click="cancelSaveException()"
			ng-hide="!exceptionEditable"
			title="{{'core_action_cancel' |
		translate}}">&nbsp;</i> <i
			class="fa fa-remove fa-2x icon-btn"
			title="{{'core_action_delete' |
		translate}}"
			ng-click="deleteException()"
			ng-hide="activeException.key == '' || exceptionEditable">&nbsp;</i>
	</div>
</div>

<div ng-show="activeAction.key == 'setresource'">
	<div class="post-status pull-left" id="resourceSaveStatusDiv"
		ds-status="d?ha=savegroupresource,d?ha=deletegroupresource"
		></div>
	<div class="pull-right icon-btngroup">
		<i class="fa fa-edit fa-2x icon-btn"
			title="{{'core_action_update' |
		translate}}"
			ng-click="editResource(true)" ng-hide="resourceEditable">&nbsp;</i>
		<i class="fa fa-save fa-2x icon-btn" ng-click="saveResource()"
			ng-hide="!resourceEditable"
			title="{{'core_action_save' |
		translate}}">&nbsp;</i> <i
			class="fa fa-undo fa-2x icon-btn" ng-click="cancelSaveResource()"
			ng-hide="!resourceEditable"
			title="{{'core_action_cancel' |
		translate}}">&nbsp;</i> <i
			class="fa fa-remove fa-2x icon-btn"
			title="{{'core_action_delete' |
		translate}}"
			ng-click="deleteResource()"
			ng-hide="activeResource.key == '' || resourceEditable">&nbsp;</i>
	</div>
</div>