<div class="pull-left">
	<h4>{{activeAction.label}}</h4>
</div>

<div class="icon-btngroup pull-right"
	ng-show="activeAction.key == 'setversion'">
	<i class="fa fa-refresh fa-2x icon-btn"
		title="{{'core_label_refresh'|translate}}" ng-click="fetchVersions()"></i>
	<i class="fa fa-plus fa-2x icon-btn"
		title="{{'cont_label_addgroupversion' | translate}}"
		ng-click="newVersion()"></i>
</div>

<div class="icon-btngroup pull-right"
	ng-show="activeAction.key == 'setcomponent'">
	<i class="fa fa-refresh fa-2x icon-btn"
		title="{{'core_label_refresh'|translate}}"
		ng-click="fetchComponents()"></i> <i class="fa fa-plus fa-2x icon-btn"
		title="{{'cont_label_addgroupcomponent' | translate}}"
		ng-click="newComponent()"></i>
</div>

<div class="icon-btngroup pull-right"
	ng-show="activeAction.key == 'setcalendar'">
	<i class="fa fa-refresh fa-2x icon-btn"
		title="{{'core_label_refresh'|translate}}"
		ng-click="fetchExceptions()"></i> <i class="fa fa-plus fa-2x icon-btn"
		title="{{'cont_label_addgroupexcpetion' | translate}}"
		ng-click="newException()"></i>
</div>

<div class="icon-btngroup pull-right"
	ng-show="activeAction.key == 'setresource'">
	<i class="fa fa-refresh fa-2x icon-btn"
		title="{{'core_label_refresh'|translate}}" ng-click="fetchResources()"></i>
	<i class="fa fa-plus fa-2x icon-btn"
		title="{{'cont_label_addgroupresource' | translate}}"
		ng-click="newResource()"></i>
</div>